<h1>Upload</h1>
<p>
    <b>Dateien per Mail:</b> <a href="mailto:upload@studentbox.ch">upload@studentbox.ch</a>
</p>
<p>
    <b>Dateien per Dropbox</b> <a href="https://www.dropbox.com/request/NHNSRcscdNQEbLKdJ7NL">Zur Dateianfrage</a>
</p>
<p>
    <b>Papier-Dokumente:</b> Scannen wir gerne für Dich! Melde Dich hier: <a href="mailto:upload@studentbox.ch">upload@studentbox.ch</a>
</p>
<p>
    <a href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span> zurück</a>
</p>