<?php
$title = $this->translate('Add new category');
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action', $this->url('category', array(
            'action' => 'add'
)));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('categoryID'));
?>
<div class="form-group">
    <?php echo $this->formRow($form->get('name')); ?>
</div>
<?php
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>