<?php
$this->headTitle($subject->abbreviation);

$this->headMeta()->appendName('description', 'StudentBox bietet dir Zusammenfassungen '
        . 'und Testate im Modul ' . $subject->name . ' (' . $subject->name . ') an');
?>

<ol class="breadcrumb">
    <li>
        <a href="<?php echo $this->url('download'); ?>">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li class="active">
        <?php echo $this->escapeHtml($subject->abbreviation); ?>
    </li>
	<a href="<?php echo $this->url('upload') ?>" class="pull-right" style="text-decoration: none;"><span class="glyphicon glyphicon-upload"></span> <small>Upload</small></a>
</ol>

<ul class="nav nav-pills nav-stacked">
    <?php
    foreach ($categories as $category) :
        $url = $this->url('download', array('subject' => $subject->abbreviation, 'category' => $category->name));
        ?>
        <li>
            <a href="<?php echo $this->escapeHtml($url); ?>" class="list-group-item"> 
                <?php echo $this->escapeHtml($category->name); ?>
                <span class="badge hidden-xs"><?php echo $this->escapeHtml($category->fileCount); ?></span>
            </a>
        </li>
    <?php endforeach; ?>
</ul>