<?php $this->headMeta()->appendName('description', 'StudentBox erleichtert dir das studieren an der Hochschule Luzern. Wir bieten Zusammenfassungen und Testate, damit du angenehm durchs Semester kommst!'); ?>
<div class="row">
    <div class="col-xs-12">
        <a href="<?php echo $this->url('upload') ?>" class="btn btn-primary pull-right" role="button"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
        <a href="https://redpoint1.typeform.com/to/Z4iExL" target="_blank" class="btn btn-success pull-left" role="button"><span class="glyphicon glyphicon-question-sign"></span> Umfrage</a>
    </div>
</div>
<div class="row" style="margin-top:15px;">
	<div class="col-xs-12">
		<input class="form-control" id="search-input" type="text" placeholder="Suche ein Modul..." autofocus="true">
	</div>
</div>
<div class="row" style="margin-top:15px;">
<div class="col-xs-12">
<ul class="nav nav-pills nav-stacked">
    <?php
    foreach ($subjects as $subject) :
        $url = $this->url('download', array('subject' => $subject->abbreviation));
        ?>
        <li>
            <a href="<?php echo $url ?>" class="list-group-item">
                <?php echo $this->escapeHtml($subject->name); ?>
                <span class="badge hidden-xs"><?php echo $this->escapeHtml($subject->abbreviation); ?></span>
            </a>
        </li>
    <?php endforeach; ?>
</ul>
</div>
</div>
<?php
$this->inlineScript()->captureStart();
echo <<<JS
    $(document).ready(function() {
        jQuery.expr[':'].Contains = function(a, i, m) {
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
        };

        $("#search-form").submit(function(event) {
            event.preventDefault();
        });

        $("#search-input").change(function() {
            var filter = $(this).val();
            if (filter) {
                $(".nav-stacked").find("a:not(:Contains(" + filter + "))").parent().hide();
                $(".nav-stacked").find("a:Contains(" + filter + ")").parent().show();
            } else {
                $(".nav-stacked").find("li").slideDown();
            }
        }).keyup(function() {
            $(this).change();
        });
    });
JS;
$this->inlineScript()->captureEnd();
?>