<?php echo $this->doctype(); ?>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('StudentBox')->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <?php echo $this->headMeta() ?>
        <?php
        echo $this->headLink(array(
                    'rel' => 'shortcut icon',
                    'type' => 'image/vnd.microsoft.icon',
                    'href' => $this->basePath() . '/img/favicon.ico'
                ))
                ->prependStylesheet($this->basePath() . '/css/custom.css')
                ->prependStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
                ->prependStylesheet('https://fonts.googleapis.com/css?family=Roboto:700')
        ?>
        <?php
        $this->inlineScript()->captureStart();
        echo <<<JS
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-54812317-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
JS;
        $this->inlineScript()->captureEnd();
        ?>
    </head>
    <?php if ($this->zfcUserIdentity()): //Padding for Adminmenu  ?>
        <body style="padding-top: 70px;">
        <?php else: ?>
        <body>
        <?php endif; ?>
        <div class="container" id="wrap">
            <?php if ($this->zfcUserIdentity()): ?>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="<?php echo $this->url('zfcuser') ?>">
                                    <?php echo $this->translate('Admin Area'); ?>
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="admin-menu">
                                <?php
                                echo $this->navigation('navigation')
                                        ->menu()
                                        ->setMinDepth(0)
                                        ->setMaxDepth(0)
                                        ->setUlClass('nav navbar-nav');
                                ?>
                                <div class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="<?php echo $this->url('zfcuser/logout'); ?>">Logout</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            <?php endif; ?>

            <div class="row" id="main-row">
                <div class="col-md-12">
                    <a href="/" id="title-link"><h1 id="title">StudentBox</h1></a>
                </div>
                <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
                    <?php echo $this->content; ?>
                </div>
            </div>
            <!--Für Footer-->
            <div id="push"></div>
        </div>

        <footer>
            <div class="container">
                <p class="text-muted pull-right">
                    <a href="https://github.com/studentbox/website" target="_blank">
                        <img style="height: 16px;" src="<?php echo $this->basePath() . '/img/GitHub-Mark-32px.png' ?>" alt="See us on Github">
                    </a>

                    <?php if (!$this->zfcUserIdentity()): ?>
                        | <a href="<?= $this->url('zfcuser') ?>">Login</a>
                    <?php endif; ?>
                </p>
            </div>
        </footer>

        <?php
        echo $this->inlineScript()
                ->prependFile('https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js')
                ->prependFile('https://code.jquery.com/jquery-1.11.2.min.js')
        ?>
    </body>
</html>